/* Основные стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.forum-container {
    width: 100%;
    max-width: 800px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff;
}

h1, h2 {
    color: #f5f5f5;
    margin-bottom: 10px;
}

textarea, input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #f5f5f5;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Темная и светлая темы */
body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

body.dark-theme .forum-container {
    background-color: #1e1e1e;
}

.dark-theme textarea, .dark-theme input[type="file"] {
    background-color: #333;
    border: 1px solid #444;
    color: #f5f5f5;
}

#theme-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #666;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.post {
    background-color: #2a2a2a;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.post img, .post video {
    max-width: 100%;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
